<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daslinks | {{ .title }}</title>
    <meta name="description" content="Golang URL Shortner">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }

    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 20px;
    }

    body > .container {
      padding: 60px 15px 0;
    }

    a.red,
    a.red:focus,
    a.red:hover {
      color: red;
    }

    .inline {
      display: inline !important;
    }
    </style>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/links">
            Daslinks
          </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class=""><a href="/-/list">links</a></li>
            <li class=""><a href="/-/new">New</a></li>
          </ul>

          <ul class="nav navbar-right navbar-nav">
            <li>
             <!-- Put something here -->  
            </li>
            <li>
                <!-- put something else here -->
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      {{ template "content" . }}
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Apache 2.0</p>
      </div>
    </footer>

  </body>

</html>
