{{ define "content" }}

  <div class="page-header">
    <h2>
      {{ .title }} {{ .link.ShortLink }}
      {{ if .link.Id }}
        <form class="inline pull-right" action="/delete/link/{{ .link.Id.Hex }}" method="POST">
          <a href="javascript:void(0);" onclick="if (confirm('Are you sure you want to delete {{ .link.ShortLink }}?')) document.forms[0].submit();" class="red">
            <i class="fa fa-trash"></i>
          </a>
        </form>
      {{ end }}
    </h2>
  </div>

  <form action="/-/new" method="POST">

    {{ if .link.Id }}
      <input type="hidden" name="_id" value="{{ .link.Id.Hex }}">
    {{ end }}

    <div class="form-group">
      <label for="LongLink">LongLink</label>
      <input type="text" name="longlink" class="form-control" id="longlink" placeholder="http://google.com" value="{{ .link.LongLink }}">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

  </form>

{{ end }}
