{{ define "content" }}

  <div class="page-header">
    <h2>{{ .title }}</h2>
  </div>

  {{ $links := .links }}

  <div class="list-group">
  {{ range $link := $links }}
    <a href="/{{ $link.ShortLink }}" class="list-group-item">
      <h4 class="list-group-item-heading">{{ $link.ShortLink }}</h4>
      <p class="list-group-item-text">{{ $link.LongLink }}</p>
    </a>
  {{ end }}
  </div>

{{ end }}
